 @import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@400;500;700&display=swap');

body {
  font-family: "Zen Maru Gothic", sans-serif;
}


svg{
    display: block;
    margin: 0 auto;
    }

 .map path{
      cursor: pointer;
      transition: 0.3s ease;
    }
 path:hover{
      fill: #AFE2C6;
    }

 path:hover{
      fill: #AFE2C6;
    }


h1{
      text-align: center;
      margin: 1em;
      font-size: 20px;
    }

