body {
  &.home {
    position: relative;
    background-color: #F8F9F2;
    font-family: "Zen Kaku Gothic New", sans-serif;
    color: #222;

    .inner {
      width: 1000px;
      margin: 0 auto;

      // .txt-box
      .txt-box {
        position: absolute;
        top: 100px;
        left: 20.1%;
        width: 380px;
        margin-bottom: 20px;
        padding: 15px;

        // h1
        h1 {
          font-size: 24px;
          font-weight: bold;
          letter-spacing: 3px;
          color: #222;
          margin-bottom: 20px;
        }

        // p
        p {
          font-size: 16px;
          color: #222;
          line-height: 180%;
          letter-spacing: 3px;
        }
      }

      // .map-container
      .map-container {
        position: absolute;
        top: 30px;
        left: 0;
        width: 100%;

        svg {
          width: 60%;
          margin: 0 auto;
          height: auto;
          display: block;
        }
      }
    }
  }
}





body {
  &.pref {
    position: relative;
    background-color: #F8F9F2;
    font-family: "Zen Kaku Gothic New", sans-serif;
    color: #222;
    ;

    .inner {
      width: 1000px;
      margin: 0 auto;

      // 都道府県名 h2
      .js-pref-name {
        font-size: 30px;
        font-weight: bold;
        color: #222;
        margin-bottom: 20px;
        text-align: center;
        margin-top: 50px;
        letter-spacing: 10px;
      }

      .weather-box {
        display: flex;
        margin: 0 auto;
        width: 820px;

        // 今日の天気 / 明日の天気の共通スタイル (section)
        .today-weather,
        .tomorrow-weather {
          background: #fff;
          border-radius: 16px;
          padding: 30px;
          margin: 10px;
          width: 420px;
          vertical-align: top;
          text-align: center;

          h3 {
            font-size: 16px;
            color: #333;
            margin-bottom: 10px;
          }

          // 天気に関する情報（日付、天気画像、メイン、気温）
          .js-date-today,
          .js-date-tomorrow {
            font-size: 16px;
            color: #777;
          }

          .js-weather-main-today,
          .js-weather-main-tomorrow {
            font-size: 16px;
            margin-top: 8px;
            text-align: center;
          }

          .js-temp-today,
          .js-temp-tomorrow {
            font-size: 25px;
            font-weight: bold;
            text-align: center;
            color: #e67e22; // 気温を目立たせる色
            margin-bottom: 20px;
            margin-top: 10px;
          }

          .js-weather-img-today,
          .js-weather-img-tomorrow {
            text-align: center;
            margin-top: 20px;
          }

          .js-weather-img-today img,
          .js-weather-img-tomorrow img {
            width: 120px;
          }

          // 天気予報テーブル
          table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 30px;
            font-size: 14px;

            th,
            td {
              border: 1px solid #eee;
              padding: 20px 5px;
              text-align: center;
            }

            thead {
              background-color: #f0f8ff;

              th {
                color: #222;
                font-weight: normal;
              }
            }
          }
        }

      }

      // 戻るリンク
      p>a[href="index.html"] {
        display: block;
        text-align: center;
        margin-top: 30px;
        font-size: 16px;
        font-weight: bold;
        letter-spacing: 3px;
        color: #2980b9;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}



// * {
//   border: 1px solid red !important;
//   box-sizing: border-box;
// }